/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


p{
    font-family: "Supermercado One", sans-serif;
    text-align: center;
}

.navbara {
    padding: 10px 0;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    vertical-align: middle;
}

p {
    margin: 0;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Genos", sans-serif;
    font: 1em sans-serif;
    color: coral;
    font-size: 200%;
    margin-top: auto;
    margin-left: 50%;
    margin-left: auto;
    text-align: auto;
}

h2{
    font-family: "Cormorant", serif;
    margin-left: 50%;
    color:black;
    text-align: auto;
    margin-left: auto;
}
h3{
    font-family: "Cormorant Infant", serif;
    margin-top: auto; 
}
h4{
    font-family: "Cormorant Infant", serif;
    margin-bottom: 0%;
}

.row > div {
    margin-bottom: 20px; /* Adjust as needed */
}

.custom-img {
    width: 100%; /* Set width to 100% for responsiveness */
    height: 500px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
    
}


.about-box {
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #dee2e6; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside the box */
    margin-top: 10px; /* Spacing from the button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

footer {
    position: relative; /* Ensure footer is positioned normally */
    width: 100%;
}

.footer-content {
    padding: 20px;
    text-align: left; /* Align text to the left */
}

